@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Permanent+Marker&display=swap");

nav {
  width: 1920px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 30px;
}
nav div a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #394149;
  margin-right: 41px;
}
.text1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 106.5%;
  color: #f58a07;
  text-decoration: none;
  background: rgba(245, 138, 7, 0.1);
  border-radius: 31px;
  width: 173px;
  height: 52px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.logo {
  width: 122px;
  height: 28px;
  padding-right: 400px;
}
.cnvvr1 {
  width: 1920px;
  height: 700px;
}
.testing {
  width: 640px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #1d3444;
}
.cnvvr2 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #0d1317;
}
.cnvvr3 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #5b5b5b;
}
.cnvvrtxt {
  width: 640px;
  height: 60px;
}
.cnvvr2 {
  display: flex;
}
.cnvvr3 {
  display: flex;
}
.cmargin {
  margin-left: 320px;
}
.Salary {
  margin-left: 755px;
}
.mynga3 {
  margin-left: 265px;
}
.block {
  display: flex;
  width: 1280px;
  height: 441px;
  background: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  margin-left: 320px;
  margin-top: 50px;
}
