@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Permanent+Marker&display=swap");

nav {
  width: 1920px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 30px;
}
nav div a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #394149;
  margin-right: 41px;
}
.text1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 106.5%;
  color: #f58a07;
  text-decoration: none;
  background: rgba(245, 138, 7, 0.1);
  border-radius: 31px;
  width: 173px;
  height: 52px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.logo {
  width: 122px;
  height: 28px;
  padding-right: 400px;
}
.career1 {
  margin-top: 150px;
  width: 1920px;
  height: 700px;
  display: flex;
}
.cleft {
  margin-left: 200px;
  width: 50%;
  height: 800px;
}
.cleft .lefttxt {
  width: 618px;
  height: 288px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #1d3444;
}
.lefttxt2 {
  width: 557px;
  height: 90px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #5b5b5b;
}
.view {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 106.5%;
  text-transform: capitalize;
  color: #ffffff;
  width: 180px;
  height: 54px;
  background: #f58a07;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.cright {
  width: 50%;
  height: 800px;
}
.cright {
  background-repeat: no-repeat;
  background-image: url(./zz/z.png);
  width: 616px;
  height: 650px;
  border-radius: 20px;
  mix-blend-mode: multiply;
}
.crightiinorange {
  width: 616px;
  height: 650px;
  background: #f58a07;
  mix-blend-mode: multiply;
  border-radius: 20px 0px 0px 20px;
  width: 180px;
  height: 650px;
}
.cereerr {
  margin-left: 160px;
  margin-top: 150px;
  width: 1920px;
  height: 600px;
}
.seeour {
  width: 676px;
  height: 56px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-left: 40px;
  padding-bottom: 60px;
}
.cblock1 {
  width: 400px;
  height: 181px;
  background: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  margin-left: 40px;
}
.cblock1 {
  width: 400px;
  height: 181px;
  background: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  margin-left: 40px;
}
.cblock2 {
  width: 400px;
  height: 181px;
  background: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  margin-left: 40px;
}
.cblock3 {
  width: 400px;
  height: 181px;
  background: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  margin-left: 40px;
}
.cblock1 h1 {
  width: 230px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-left: 40px;
}
.c21 {
  width: 230px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-left: 40px;
}
.c22 {
  width: 184px;
  height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #394149;
  opacity: 0.6;
  margin-left: 40px;
}
.c23 {
  text-decoration: none;
  width: 95px;
  height: 19px;
  left: 360px;
  top: 1204px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 106.5%;
  color: #f58a07;
  margin-left: 40px;
}
.cblock1 p {
  width: 184px;
  height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #394149;
  opacity: 0.6;
  margin-left: 40px;
}
.cblock1 a {
  text-decoration: none;
  width: 95px;
  height: 19px;
  left: 360px;
  top: 1204px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 106.5%;
  color: #f58a07;
  margin-left: 40px;
}
.c24 {
  width: 230px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-left: 40px;
}
.c25 {
  width: 184px;
  height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #394149;
  opacity: 0.6;
  margin-left: 40px;
}
.c26 {
  text-decoration: none;
  width: 95px;
  height: 19px;
  left: 360px;
  top: 1204px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 106.5%;
  color: #f58a07;
  margin-left: 40px;
}
.career2 {
  display: flex;
}
.cblock4 {
  width: 400px;
  height: 181px;
  background: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
}
.cblock5 {
  width: 400px;
  height: 181px;
  background: rgba(193, 228, 255, 0.3);
  border-radius: 20px;
  margin-left: 40px;
}
.c27 {
  width: 230px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-left: 40px;
}
.c28 {
  width: 184px;
  height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #394149;
  opacity: 0.6;
  margin-left: 40px;
}
.c29 {
  text-decoration: none;
  width: 95px;
  height: 19px;
  left: 360px;
  top: 1204px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 106.5%;
  color: #f58a07;
  margin-left: 40px;
}
.c30 {
  width: 230px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-left: 40px;
}
.c31 {
  width: 184px;
  height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #394149;
  opacity: 0.6;
  margin-left: 40px;
}
.c32 {
  text-decoration: none;
  width: 95px;
  height: 19px;
  left: 360px;
  top: 1204px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 106.5%;
  color: #f58a07;
  margin-left: 40px;
}
.flexx {
  display: flex;
  margin-top: 40px;
  margin-left: 40px;
}
.nuur1 {
  width: 1920px;
  height: 1000px;
  background: #dceaf5;
}
.page2 h1 {
  padding-top: 200px;
  width: 735px;
  height: 112px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #1d3444;
  padding-left: 200px;
}
.page2 .page2iintext {
  width: 735px;
  height: 90px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #5b5b5b;
  padding-left: 200px;
}
.nuur1 .zurag2 {
  display: flex;
  width: 399px;
  height: 242px;
  padding-left: 200px;
}
.z3 {
  margin-left: 40px;
}
.z2 {
  margin-left: 40px;
}
.nuur1 .text5 {
  display: flex;
  padding-left: 200px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 106.5%;
  letter-spacing: -0.03em;
  color: #0d1317;
}
.hh1 {
  width: 257px;
  height: 30px;
}
.hh2 {
  margin-left: 180px;
  width: 215px;
  height: 30px;
}
.hh3 {
  margin-left: 230px;
  width: 200px;
  height: 30px;
}
.text6 {
  display: flex;
  padding-left: 200px;
}
.nuur1 .text7 {
  width: 399px;
  height: 84px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #5b5b5b;
}
.nuur1 .text8 {
  width: 400px;
  height: 84px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1d3444;
  margin-left: 40px;
}
.nuur1 .text9 {
  width: 400px;
  height: 84px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #5b5b5b;
  margin-left: 40px;
}
.nuur1 .learn {
  display: flex;
}
.nuur1 .learn a {
  padding-left: 200px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 106.5%;
  color: #f58a07;
  width: 90px;
  height: 17px;
  text-decoration: none;
}
.nuur1 img .image1 .image2 .image3 {
  width: 22px;
  height: 10px;
}
.nuur1 .learn .ic {
  margin-left: 128px;
}
.nuur1 .learn .ic1 {
  margin-left: 135px;
}
.footer {
  position: relative;
  width: 1920px;
  height: 463px;
  background-color: #063255;
  background-image: url(./zz/Footer\ Left.png);
  background-repeat: no-repeat;
  background-position: top 80px left 320px;
}
.input {
  width: 342px;
  height: 54px;
  background: #ffffff;
  border-radius: 31px;
  margin-left: 137px;
  margin-top: 24px;
}
.ftxt {
  display: flex;
  margin-left: 781px;
  padding-top: 80px;
}
.ftxt a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
}
.connect {
  margin-left: 106px;
}
.join1 {
  margin-left: 200px;
}
.ftxt1 {
  display: flex;
  margin-top: 10px;
  margin-left: 781px;
}
.ftxt1 a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
.txt18 {
  margin-top: 24px;
}
.txt19 {
  margin-left: 126px;
  margin-top: 24px;
}
.careers {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
.number {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 133px;
}
.ftxt2 {
  margin-left: 781px;
}
.ftxt3 {
  display: flex;
  margin-left: 781px;
}
.subs {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 106.5%;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  background: #f58a07;
  border-radius: 31px;
  width: 156px;
  height: 54px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 395px;
}
.serv {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 24px;
}
.footer .blog {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 781px;
  display: flex;
  margin-top: 24px;
}
.ftxt4 a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
.ftxt4 {
  display: flex;
  margin-left: 320px;
  margin-top: 84px;
}
.pirav {
  margin-left: 733px;
}
.terms {
  margin-left: 32px;
}

::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9c9c9c;
  padding-inline-start: 32px;
}
.orange1 {
  position: absolute;
  background: #f58a07;
  width: 53px;
  height: 144px;
  border-radius: 0 20px 0px 0px;
  bottom: 0px;
}
.orange2 {
  position: absolute;
  background: #f58a07;
  width: 53px;
  height: 287px;
  border-radius: 20px 0px 0px 20px;
  right: 0;
  top: 10%;
}
